article{
    position:relative;
}
section{
    width:800px;
}
img{
    width:800px;/*80%*//*500px;*/
    height:300px;/*20%;*/ /*200px;*/
}
.graphicsContainer{
    width:800px;
    height:300px;
    /*position :relative;*/
}
.Button{
    position: absolute;
    border-radius:50%;
    background-color:blue;
    color:white;
    top:150px; /*50%;*/
    z-index:+1;
    border-width:0;
    width:40px;
    height: 40px;
}
.Button:hover{
    background-color:grey;
}
.leftButton{
    left: 30px;
}
.rightButton{
    left: 730px;
}
.sectionVisible{
    position: relative;
}
.sectionInvisible{
    display: none;
}
h2{
    height: 20px;
}
